:root{
    --negro: #111111;
    --gris-oscuro:#2F2F2F;
    --gris-claro: #F6F6F6;
    --blanco:#FFFFFF;
    --amarillo:#FFCB74;
}

.body-login{
    margin-top: 50px;
}

.form-container {
    border-radius: 20px;
    background: var(--gris-claro);
    text-align: center;
}
.form-container{
    width: 25%;
}

.form-group{
    text-align:left;
}

h6{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 600;
}

.body-login{
    font-family: 'Quicksand', sans-serif;
}

.op-logo-login{
    font-size: 60px;
    font-weight: 700;
}

.signup-tag{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

label{
    font-size: 20px;
}

.form-control{
    margin-bottom: 30px;
}

.container-field{
    border-bottom: 2px solid;
    display:inline-block;
    width: 90%;
}

nav{
    background-color: #111111;   
}

.nav-link{
    color: #F6F6F6;
    font-weight: 500;
}
.op-logo{
    color: #F6F6F6;
    font-size: 30px;
    font-weight: 600;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #F6F6F6;
}

.card{
    margin-left: 10px;
}
.btn1{
    margin-top: 400px;
    float: right;
}

.uwu{
    background-color: #FFFFFF;
}

.bodega{
    margin-top: 50px;
}

.card{
    width: 74%;
    display: flex;
}

.form-check{
    float: left;
}

.op-card{
    margin-top: 30px;
}

.bodega1{
    margin-top: 30px;
}

.letra{
    font-weight: 600;
    font-size: 25px;
}

.op-card1{
    margin-left: 20px;
}

.check1{
    margin-top: 20px;
}

.pedido{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}
.card-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
}
.card-text{
    margin-bottom: 50px;
    font-weight:600;
}

hr{
    margin-top: -5px;
    margin-bottom: 5px;
}

.btn{
    font-weight: 600;
}

h3{
    font-weight: 600;
}